<div class="p-5">
    <div class="container shadow p-5">
        <div class="p-5 border border-light rounded">
            <h6>Formulário para compra de Adesivos</h6>
            <hr/>

            <form [formGroup]="form">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <div class="form group">
                                <input type="text" class="form-control form control-sm" 
                                placeholder="Nome do Produto" formControlName="name"/>
                            </div>
                        </div>

                        <div class="col-2">
                            <div class="form group">
                                <input type="text" class="form-control form control-sm" 
                                placeholder="Quantidade do Produto" formControlName="name"/>
                            </div>
                        </div>
                        
                        <hr/>
                         
                        <div class="col-6">
                            <button type="submit" class="btn btn-outline-info btn-sm">Adicionar</button>
                        </div>
                    </div>

                </div>

            </form>

        </div>

    </div>

</div>
